input:focus {
    color: red;
}
ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

li:nth-of-type(even){
    color: blue;
    background-color: beige;
}

li:nth-of-type(odd){
    background-color: gray;
    color: greenyellow;
}