p::first-letter{
    color:green;
    font-size: 5rem;
}

p::first-line{
    color: red;
}

li{
    /* margin-left: 200px; */
    list-style: none; 
    /* list-style-image: url(./images/googleG.png); */
}

li::before{
    content: '';
    
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(./images/googleG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p::selection{
    background-color: yellow;
    color: blue;
}